.issueslist{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  border: 1px solid black;
}

.issues-area {
  display: flex;
  flex-direction: column;

}

.navbar{
  font-size: 20px;
  height: 55px;
}

h4{
   font-size: 25px;
      color: black;
   
}

h3 {
  color: white;
}

.issue-title {
  color: black;
  text-decoration: none;
}

.issue-title:hover {
  color: blue;
  text-decoration: none;
}

.exclamation {
  background-color: white;
  border: olivedrab;
}

nav{
    height: 60px;
}

.button{
background-color: transparent;
 margin-right: 2rem;
 
}

/* .input-box{
  background-color: #404448;
  border: 0px;
  border-radius: 5px;
  width: 250px;
  outline: transparent;
  color:white;
} */

input .modal{
  border: 1px solid 
}
.inpux-box {
  font-size: 15px;
  padding: 5px;
  background-color: #404448;
  border: 0px;
  border-radius: 5px;
  width: 250px;
  outline: transparent;
  color:white;

}


button{
  background-color: transparent;
  color: white;
  font-weight: bolder;
  border: transparent;
  outline: transparent;


}

::placeholder {
  color: grey;
  font-size: 15px;
  align-items: center;
 }

.video-popup-modal{
  margin: 20px;
  height: 600px;
 
}

.footer{
  position: sticky;
  bottom: 0;
  width: 100vw;
}
.image-container{
   
   display:flex;
   justify-content: center;
}

.content{
 
  height: 100vh;
}

.loading{
  height: 80vh;
  align-items: center;
  display:flex;
  justify-content: center;

 

}
