.issueslist-per-issue{
  border: 1px solid black;
  margin: 20px;
}

.nav{
  margin-top:69px;
  font-size: 20px;
  height: 60px;
 
  align-items: center;
}

h3{
  color: white;
   
}

nav{
    height:50px;
    width: auto;
}

.button{
background-color: transparent;
 margin-right: 2rem;
}

.pagination{
  display: flex;
  flex-direction: column;
  list-style: none
}
